.usersContainer {
	position: relative;
	width: 100%;
	height: 99vh;

	.usersHeader {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px 0;
		margin: 10px 0;
		.usersTitle {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 2.2rem;
			font-weight: 500;
			text-align: center;
		}
		.addUserBtn {
			position: absolute;
			right: 24px;
			height: 42px;
		}
	}

	.usersFooter {
		position: absolute;
		right: 1.4rem;
		bottom: 1.4rem;
	}
}
